{{ if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "clb-controller-manager.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "clb-controller-manager.labels" . | nindent 4 }}
type: Opaque
data:
  cloud-config.json: {{ include "clb-controller-manager.cloudConfig" . | b64enc }}
{{- end }}