{{- $root := . -}}
{{- if $root.Values.globalConfigs.ingressEnabled }}
{{- range .Values.websites }}
{{- $fullDestination := .destination }}
{{- $scheme := .scheme | default "https" }}
{{- $path := .path | default "" }}
{{- $fullDestination = printf "%s://%s%s" $scheme .destination $path }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: redirect-{{ .name }}
  labels:
    {{- with $.Values.globalConfigs.ingressCommonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- include "redirect.labels" $ | nindent 4 }}
  annotations:
    {{- with $.Values.globalConfigs.ingressCommonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- if .include_path }}
    nginx.ingress.kubernetes.io/rewrite-target: {{ $fullDestination }}/$1
{{- else }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      return 302 {{ $fullDestination }};
{{- end }}
spec:
  ingressClassName: {{ $.Values.globalConfigs.ingressClassName }}
  rules:
  - host: {{ .source }}
    http:
      paths:
      - backend:
          service:
            name: does-not-exist
            port:
              number: 80
{{- if .include_path }}
        path: "/(.*)$"
{{- else }}
        path: /
{{- end }}
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - {{ .source }}
    secretName: redirect-{{ .source }}-tls-cert

{{- end }}
{{- end }}
